<form>
    <h3>Nombre maximal de blessures</h3>
    {{#each blessures as |blessure id|}}
    <div class="form-group">
        <label>{{ id }}</label>
        <input
            class="blessure-score"
            name="{{id}}.max"
            type="number"
            value="{{blessure.max}}"
            placeholder="3"
            data-dtype="Number"
        >
        <input
            class="blessure-seuil"
            name="{{id}}.seuil"
            type="text"
            value="{{blessure.seuil}}"
            data-dtype="Text"
        >
    </div>
    {{/each}}
</form>