<div>
    <h3>
        Blessures
        <div class="item-controls">
            <a
                class="item-control config-blessure"
                title="Configurer les blessures"
            >
                <i class="fas fa-cog"></i>
            </a>
        </div>
    </h3>
    <ul class="blessures-scores scores flexrow">
        {{#each displayBlessures as |blessure id|}}
        <li class="blessure">
            <label>{{ blessure.label }}</label>
            <div class="blessures-container">
                {{#each checkbox as |box id|}}
                    <input
                        class="blessure-check"
                        name="updatedBlessures"
                        type="checkbox"
                        {{#if box.checked}} checked {{/if}}
                        value="{{id}}"
                        data-blessure="{{blessure.key}}"
                        data-box="{{box.id}}"
                    >
                {{/each}}
            </div>
        </li>
        {{/each}}
    </ul>
</div>