<ol class="items-list">
    <li class="flexrow item-header arme">
        <h3 class="item-name flexrow">Armes</h3>
    </li>
    {{#each armes as |item id|}}
    <li
        class="item flexrow arme"
        data-item-id="{{item._id}}"
        data-item-dommage="{{item.data.dommage}}"
        data-item-multiplicateur="{{item.data.multiplicateurForce}}"
    >
        <div class="item-image"><img
                src="{{item.img}}"
                title="{{item.name}}"
            /></div>
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-controls">
            <a
                class="item-control item-test"
                title="Tester"
            ><i class="fas fa-dice"></i></a>
            <a
                class="item-control item-edit"
                title="Editer"
            ><i class="fas fa-edit"></i></a>
            <a
                class="item-control item-delete"
                title="Supprimer"
            ><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}

    <li class="flexrow item-header armure">
        <h3 class="item-name flexrow">Armures</h3>
    </li>
    {{#each armures as |item id|}}
    <li
        class="item flexrow armure"
        data-item-id="{{item._id}}"
    >
        <div class="item-image"><img
                src="{{item.img}}"
                title="{{item.name}}"
            /></div>
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-controls">
            <a
                class="item-control item-edit"
                title="Editer"
            ><i class="fas fa-edit"></i></a>
            <a
                class="item-control item-delete"
                title="Supprimer"
            ><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}

    <li class="flexrow item-header objet">
        <h3 class="item-name flexrow">Objets diverses</h3>
    </li>
    {{#each objets as |item id|}}
    <li
        class="item flexrow objet"
        data-item-id="{{item._id}}"
    >
        <div class="item-image"><img
                src="{{item.img}}"
                title="{{item.name}}"
            /></div>
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-controls">
            <a
                class="item-control item-edit"
                title="Editer"
            ><i class="fas fa-edit"></i></a>
            <a
                class="item-control item-delete"
                title="Supprimer"
            ><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}

</ol>