.sheet.prophecy .scores {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sheet.prophecy .scores label {
  text-transform: capitalize;
}

.sheet.prophecy .scores > li {
  display: flex;
}

.sheet.prophecy .scores > li > label {
  flex: 1 1 100%;
}

.sheet.prophecy .scores > li > input {
  width: 4em;
}

.sheet.prophecy .attrs-container {
  display: flex;
  max-width: 100%;
}

.sheet.prophecy .comps-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.sheet.prophecy .comps-container > *, .attrs-container > * {
  width: 25%;
  box-sizing: border-box;
  padding: 0.5em;
}

.sheet.prophecy.actor h3 {
  width: 100%;
  text-align: center;
  background-color: #003c1e;
  color: white;
  text-transform: uppercase;
}

.sheet.prophecy .item-header .item-controls {
  background-color: #003c1e;
  color: white;
  padding-right: 1em;
}

.sheet.prophecy.actor form {
  background-color: white;
  padding: 1em;
}

.sheet.prophecy .rollable {
  cursor: pointer;
  color: #992233;
}

.sheet.prophecy .sheet-body .editor {
  height: 95%;
}

.sheet.prophecy > section > form {
  display: flex;
  flex-direction: column;
}

.sheet.prophecy .sheet-body {
  flex: 1 1 100%;
  display: flex;
}

.sheet.prophecy .sheet-body > * {
  flex: 1 1 100%;
}

.sheet.prophecy .items-list .item-image img {
  max-width: 32px;
}

.sheet.prophecy .items-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  line-height: 30px;
}

.sheet.prophecy .items-list .item-header {
  font-weight: bold;
}

.sheet.prophecy .items-list .item {
  line-height: 24px;
  padding: 3px 0;
}

.sheet.prophecy .items-list .item .item-image {
  flex: 0 0 24px;
}

.sheet.prophecy .items-list .item img {
  display: block;
}

.sheet.prophecy .items-list .item:last-child {
  border-bottom: none;
}

.sheet.prophecy .items-list .item .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sheet.prophecy .items-list .item .item-controls {
  flex: 0 0 66px;
  justify-content: flex-end;
}

.sheet.prophecy .items-list .item .item-controls a {
  flex: 0 0 22px;
  text-align: center;
}

.sheet.prophecy .items-list .item-name {
  margin: 0;
}

.sheet.prophecy .items-list .item-controls {
  flex: 0 0 86px;
  text-align: right;
}

.sheet.prophecy .items-list .item .item-summary {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 1em;
  line-height: 1.2em;
  padding: 8px;
  border-top: 4px solid #DBD5B0;
}

.sheet.prophecy .tab {
    max-width: 100%;;
}

.sheet.prophecy .competences-add {
  text-align: center;
  width: 100%;
}

.sheet.prophecy input[type=checkbox] {
  margin: 0 2px;
}

.sheet.prophecy .blessure {
  margin-bottom: 4px;
}

.sheet.prophecy .blessures-container {
  display: flex;
}

.sheet.prophecy h3 .item-controls {
  float: right;
  margin-right: 0.5em;
  font-size: 0.9em;
}